* {
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif; 
}

main {
	width: 100%;
}

.bottom {
	position: fixed;
	bottom: 16px;
	right: 7px;
	width: 200px;
	text-align: center;
	background-color: white;
	border: 1px solid black;
}