* {
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif; 
}

main {
	width: 100%;
}

body {
	background-color: #E8EBE8;
}

.bottom {
	position: fixed;
	bottom: 0;
	right: 7px;
	width: 200px;
	text-align: center;
	background-color: white;
	border: 1px solid black;
}

h1, h2, h3 {
	font-family: 'Exo 2', sans-serif;
	color: 
}